autom4te.cache
*~
\#*#
.#*
.DS_Store
*.pyc
*.o
*.lo
.ipynb_checkpoints
.tramp_history
# Directory with initial Hai code. Leave in place, but don't checkin
ECOSTRESS/
# iso used to build afids image, don't check in
*.iso
# Pickle files generated in tools directory.
summary_geo_qa_pandas.pkl
