# We require all the packages geocal requires (see requirements.txt for that
# package), plus stuff listed in this file.
#
# Note that at least on pistol, tflearn and tensorflow give an illegal
# instruction if we build using wheel. So likely want to use the
# --no-binary :all: to force a local build
cython
xlrd
tflearn
# tensorflow seems to not be able to be built as a nonwheel. Installed
# all the dependencies
# pip install --no-binary :all: tflearn absl-py astor bleach==1.5.0 gast grpcio html5lib==0.9999999 markdown protobuf werkzeug wheel
# pip install --upgrade --force-reinstall --no-binary :all: numpy
# Note that tensorflow 1.6 has an illegal instruction (see https://github.com/tensorflow/tensorflow/issues/17411). We can work around this by forcing the
# version to use as 1.5.0
tensorflow==1.5.0
